@import 'simplebar/dist/simplebar.css';
main.main{
    display: grid;
    gap: 2rem;
    padding-left: 1.5rem;
    padding-right: calc(102px + 1.5rem);
	grid-template-columns: 406px auto;
}
aside.filter{
    position: relative;
}
aside.filter form.filter__form{
    display: grid;
    gap: 25px;
}
aside.filter form.filter__form .filter__widget{
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 12px;
}
aside.filter form.filter__form button.filter__button{
    background-color: theme('colors.vo-green');
    padding: .8rem;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    transition: background .2s ease;
    &:hover{
        background-color: theme('colors.vo-green-over');
    }
}
aside.filter form.filter__form .filter__widget .widget__title{
    font-size: 1rem;
    color: #bfbfbf;
    font-weight: 500;
    margin-bottom: 0.8rem;
}
aside.filter form.filter__form .filter__widget .widget__content{
    display: grid;
    gap: 15px;
}
aside.filter form.filter__form .filter__widget .widget__content select,
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control{
    background-color: #333333;
    position: relative;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 6px;
    padding: 0.8rem 1.2rem;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper.focus{
    z-index: 2;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control{
    min-height: 44px;
    overflow: initial;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper.focus .ts-control{
    border-radius: 8px 8px 0 0;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control::before{
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    font-size: 14px;
    color: #858585;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control .item{
    background-color: #454545;
    color: #d9d9d9;
    padding: 5px 10px;
    border-radius: 4px;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control .item + input{
    display: none !important;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control .clear-button{
    padding: 12px 8px 16px 8px;
    right: 40px;
    color: #858585;
    font-size: 20px;
    line-height: 0;
    border-radius: 4px;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transition: background .2s ease;
    &:hover{
        background-color: #dddddd26 !important;
        color: #fff;
    }
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control .item ~ .clear-button{
    opacity: 1;
    visibility: visible;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper.dropdown-active .ts-control > input {
    background-color: #414141 !important;
    position: absolute;
    display: none !important;
    padding: 0 10px !important;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0 !important;
    display: block !important;
    border-top: 1px solid #515151 !important;
    border-bottom: 1px solid #515151 !important;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper.dropdown-active .ts-control > input {
    display: block !important;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-control input{
    color: #d9d9d9;
    &::placeholder{
        color: #d9d9d9;
        opacity: 1;
    }
      
    &:-ms-input-placeholder{
        color: #d9d9d9;
    }
      
    &::-ms-input-placeholder{
        color: #d9d9d9;
    }
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-dropdown{
    background-color: #333333;
    top: calc(100% + 40px);
    border: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 0 0;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-dropdown .ts-dropdown-content{
    padding: 1rem;
}
aside.filter form.filter__form .filter__widget .widget__content .ts-wrapper .ts-dropdown .ts-dropdown-content .option{
    display: block;
    color: #c3c3c3dd;
    padding: .6rem .8rem;
    border-radius: 8px;
    margin-bottom: 5px;
    &:hover, &.active, &.selected{
        background-color: #494949;
        color: #fff;
    }
}
aside.filter form.filter__form .filter__widget .widget__content .widget__item.select__categories .ts-wrapper .ts-control{
    padding-right: 4.5rem !important;
}

// :LIST
section.library .vealo{
    text-align: center;
}

section.library button.button__filter i{
    margin-right: 10px;
}
section.library button.button__filter:hover{
    background-color: theme('colors.vo-red-over');
}
section.library .manga{
    display: grid;
    gap: 40px;
    grid-template-columns: 100%;   
}
section.library .manga .empty{
    background-color: #1c1c1c;
    color: #919191;
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
}
@media (max-width: 1366px){
    #app main.main{
        grid-template-columns: 340px auto;
    }
}
@media (max-width: 1024px){
    aside.filter form.filter__form .filter__widget{
        padding: 1.5rem;
    }
}