body{
	color: #fff;
}
#app{
	min-height: 100vh;
}
#app header.header{
	border-bottom: 1px solid rgb(#fff, .1);
}
#app main.main{
	position: relative;
}
#app main.main section.section{
	padding: 40px 20px;
}
#app main.main section.section .section__title{
	margin-bottom: 30px;
}
#app main.main section.section .section__title h2{
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
#app main.main section.section .section__content{

}
#app main.main .main__content{
	padding: 0;
	padding-right: 78px;
}
#app main.main .main__content.main__home{
	display: grid;
	grid-template-columns: auto 406px;
}
#app main.main .main__content.main__home aside.main__sidebar{
	min-height: calc(100vh - 108px);
	border-left: 1px solid rgb(#fff, .1);
}
#app main.main .main__content.main__home aside.main__sidebar .section{
	padding: 40px 30px;
	border-bottom: 1px solid rgb(#fff, .1);
}
#app main.main .main__content.main__home aside.main__sidebar .section:last-of-type{
	border-bottom: 0;
}
#app main.main .main__content.main__home aside.main__sidebar .section .section__title{
	display: flex;
	justify-content: space-between;
}
#app main.main .main__content.main__home aside.main__sidebar .section .section__title h2{
	font-size: 14px;
}
#app main.main .main__content.main__home aside.main__sidebar .section .section__title .section__type{
	color: theme('colors.vo-red');
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
#app main.main .main__shortcuts{
	position: absolute;
	top: 0;
	right: 0;
	width: 78px;
	height: 100%;
	padding: 20px 0;
	border-left: 1px solid rgb(#fff, .1);
}
#app main.main .main__shortcuts .shortcuts__add{
	text-align: center;
}
#app main.main .main__shortcuts .shortcuts__add button{
	background-color: rgb(#fff, .05);
	display: inline-flex;
	width: 45px;
	height: 45px;
	padding: 10px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
}
#app main.main .main__shortcuts .shortcuts__list{
	display: grid;
	width: 100%;
	max-width: 45px;
	margin: auto;
	gap: 18px;
	padding: 18px 0;
}
#app main.main .main__shortcuts .shortcuts__list .shortcuts__item{

}
#app main.main .main__shortcuts .shortcuts__list .shortcuts__item a.shortcuts__link{
	display: block;
}
#app main.main .main__shortcuts .shortcuts__list .shortcuts__item a.shortcuts__link img{
	display: block;
	width: 100%;
	height: 45px;
	max-height: 45px;
	object-fit: cover;
	border-radius: 8px;
	object-position: center;
}
// :MANGA STYLES

#app main.main .manga{

}
#app main.main .manga .manga__list{
	display: grid;
	gap: 34px;
	grid-template-columns: repeat(6, 1fr);
}
@media (min-width: 1920px){
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(8, 1fr);
	}
}
#app main.main .manga .manga__list .manga__item .manga__cover{
	position: relative;
}
#app main.main .manga .manga__list .manga__item .manga__link{
	display: block;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image{
	overflow: hidden;
	border-radius: 18px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img{
	width: 100%;
	display: block;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__type,
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography{
	width: 50%;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms a{
	padding: 10px 10px;
	width: 100%;
	display: block;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__type a{
	background-color: #0C6FE3;
	border-radius: 0 0 0 18px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography a{
	background-color: #F9C81D;
	border-radius: 0 0 18px 0;
	color: #000;
}
#app main.main .manga .manga__list .manga__item h4.manga__title{
	color: #fff;
	margin: 0;
	font-weight: 500;
	margin-top: 12px;
}

// :CHAPTERS new__chapters

#app main.main .new__chapters{
	display: grid;
	gap: 28px;
}
#app main.main .new__chapters .new__chapters__item{
	position: relative;
}
#app main.main .new__chapters .new__chapters__item::before{
	background-color: transparent;
	position: absolute;
	content: "";
	left: -15px;
	top: -15px;
	z-index: -1;
	border-radius: 18px;
	width: calc(100% + 30px);
	height: calc(100% + 30px);
	transition: background .2s ease;
}
#app main.main .new__chapters .new__chapters__item:hover::before{
	background-color: #1F1F1F;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link{
	position: relative;
	display: flex;
	gap: 18px;
	z-index: 1;
	align-items: flex-start;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link figure.new__chapters__image{
    width: 100%;
    max-width: 80px;
    overflow: hidden;
    border-radius: 12px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link figure.new__chapters__image img{
	width: 100%;
	height: 68px;
	object-fit: cover;
	object-position: center;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content{
	width: 100%;
	max-width: 205px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content h6{
	font-size: 14px;
	margin: 0;
	font-weight: bold;
	margin-bottom: 6px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__chapter,
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__date{
	display: block;
	color: #949494;
	font-size: 12px;
	font-weight: 500;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__chapter{
	margin-bottom: 6px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__date{
	color: #fff;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__icon{
	display: flex;
	height: 100%;
	min-height: 69px;
	align-items: center;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__icon svg{
	fill: #949494;
}
#app main.main .new__chapters .new__chapters__item:hover a.new__chapters__link .new__chapters__icon svg{
	fill: theme('colors.vo-red');
}