body{
	color: #fff;
	overflow-x: hidden;
}
img{
	display: block;
}

.w-help{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	animation-duration: .4s;
	animation-name: inModal;
	animation-fill-mode: forwards;
}
.w-help.remove{
	animation-name: outModal;
}
.w-overlay,
.w-box{
	transition: visibility .2s ease, opacity .2s ease;
}
.w-overlay{
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: .5;
	visibility: visible;
}
.w-help .w-box{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 10vw;
    left: 50%;
    z-index: 11;
	opacity: 0;
	opacity: 1;
	color: #000;
    padding: 1.5rem;
    max-width: 520px;
    border-radius: 12px;
	visibility: visible;
    transform: translateX(-50%);
}
.w-help .w-box .w-close{
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.w-help .w-box .w-close::before,
.w-help .w-box .w-close::after{
	display: block;
    content: "";
    height: 32px;
    width: 2px;
    background: rgb(199 199 199);
}
.w-help .w-box .w-close::before{
    transform: rotate(45deg) translate(11px, -10px);
}
.w-help .w-box .w-close::after{
    transform: rotate(-45deg) translate(33px, -11px);
}
.w-help .w-box .w-icon{
	text-align: center;
	margin-bottom: 1rem;
}
.w-help .w-box .w-icon svg{
	display: inline-block;
	width: 80px;
	height: 80px;
	stroke: theme('colors.vo-red');
}
.w-help .w-box h4{
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
}
.w-help .w-box p{
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
	margin-bottom: .5rem;
}
.w-help .w-box .w-image{
	margin-top: 1rem;
}
.w-help .w-box img{
	max-width: 170px;
	margin: auto;
}

@keyframes inModal{
	from{
		opacity: 0;
		visibility: hidden;
		transform: translateY(-15px);
	}
	to{
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
}
@keyframes outModal{
	from{
		opacity: 1;
		visibility: visible;
	}
	to{
		opacity: 0;
		visibility: hidden;
	}
}

// :MODAL
.overlay,
.modal{
	transition: visibility .2s ease, opacity .2s ease;
}
.overlay{
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}
.modal{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 10vw;
    left: 50%;
    z-index: 11;
	opacity: 0;
    padding: 1.5rem;
    max-width: 520px;
    border-radius: 12px;
	visibility: hidden;
    transform: translateX(-50%);
}
.overlay.show{
	visibility: visible;
	opacity: .5;
}
.modal.show{
	visibility: visible;
	opacity: 1;
}
.modal .modal__head{
	position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
}
.modal .modal__head h4{
	color: #000;
	font-weight: bold;
}
.modal .modal__head button{
    position: absolute;
    right: 0;
    top: 3px;
}
.modal .modal__head button svg{
	pointer-events: none;
}
.modal .modal__body{
	color: #000;
	padding-top: 1.5rem;
}
.modal .modal__body p{
	text-align: center;
}
.modal .modal__body p a{
	color: theme('colors.vo-red');
	font-weight: 500;
}

// :CHAPTER BUY

.chapter__buy .buy__box{
	text-align: center;
}
.chapter__buy .buy__box h2{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: .5rem;
}
.chapter__buy .buy__box h4{
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
.chapter__buy .buy__box p{
	color: #989898;
	font-size: 16px;
	font-weight: 400;
}
.chapter__buy .buy__box p a{
	color: #fff;
}
.chapter__buy .buy__box button{
	background-color: theme('colors.vo-red');
	font-size: 16px;
	display: inline-block;
	width: 100%;
	color: #fff;
	font-weight: 500;
	padding: 14px 30px;
	text-align: center;
	border-radius: 10px;
	max-width: 160px;
	margin-top: 1rem;
	transition: background 0.2s ease, color 0.2s ease;
}
.chapter__buy .buy__box button:hover{
	background-color: theme('colors.vo-red-over');
}

// :ERROR

.errors.four .image{
	text-align: center;
}
.errors.four .image img{
	max-width: 100%;
	display: inline-block;
}

// :ADS
.bdy.vealo,
#app main.main .main__wrap.main__home .main__content > .vealo{
	padding: 1.5rem 0;
	text-align: center;
}

// :LOGIN ALERT

.log__alert{
	padding: 1.5rem;
    padding-top: 0;
	padding-right: calc(102px + 1.5rem);
}
.log__alert .box{
	background-color: theme('colors.vo-green');
	padding: 1rem;
	font-size: 18px;
	text-align: center;
	border-radius: 12px;
}

// :TOASTIFY
div.toastify{
	background: initial;
	border-radius: 35px;
	box-shadow: 0 0 0 0;
}
div.toastify.success{
	background-color: theme('colors.vo-green');
}
div.toastify.warning{
	background-color: theme('colors.vo-orange');
}
div.toastify.error{
	background-color: theme('colors.vo-red');
}

#app{
	min-height: 100vh;
}
#app main.main{
	position: relative;
	min-height: calc(100vh - 198px);
}
#app main.main section.section .section__title{
	margin-bottom: 30px;
}
#app main.main section.section .section__title h2{
    display: flex;
    gap: 15px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}
#app main.main section.section .section__title h2 span{
    background-color: theme('colors.vo-red');
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-transform: uppercase;
}

// :MAIN CONTENT

#app main.main .main__wrap{
	padding: 0;
	width: 100%;
	padding-left: 1.5rem;
	padding-right: calc(102px + 1.5rem);
}
#app main.main .main__wrap.main__home{
	display: grid;
	padding-left: 1.5rem;
	grid-template-columns: calc(100% - 406px) 406px;
}
#app main.main .main__wrap.main__home .main__content{
	display: flex;
    gap: 50px;
	padding-right: 1.5rem;
    flex-direction: column;
}
#app main.main .main__wrap.main__home aside.main__sidebar{
	display: grid;
	gap: 1.5rem;
	grid-auto-rows: min-content;
	min-height: calc(100vh - 108px);
	grid-template-columns: 100%;
}
#app main.main .main__wrap.main__home aside.main__sidebar h2.sidebar__title{
	position: relative;
	display: flex;
	font-size: 16px;
	color: #fff;
	gap: 15px;
	font-weight: 600;
}
#app main.main .main__wrap.main__home aside.main__sidebar h2.sidebar__title span{
    background-color: theme('colors.vo-red');
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section{
    background-color: #1c1c1c;
    padding: 0;
    border-radius: 18px;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section:last-of-type{
	border-bottom: 0;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .section__title{
	display: flex;
	padding: 30px;
	padding-bottom: 0;
	margin-bottom: 25px;
	justify-content: space-between;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .section__title h2{
	font-size: 14px;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .section__title .section__type{
	color: #757575;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .section__content{
	padding-bottom: 30px;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .simplebar-track.simplebar-horizontal {
	display: none;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .simplebar-track.simplebar-vertical .simplebar-scrollbar::before{
	background-color: #393939;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section .simplebar-track.simplebar-vertical .simplebar-scrollbar.simplebar-hover::before{
	opacity: 1;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops{
	background-color: transparent;
	display: grid;
	gap: 1.5rem;
	padding: 0;
	border-radius: 0;
	padding-top: 2rem;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list{
	display: grid;
	gap: 10px;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a{
	background-color: #1c1c1c;
	display: flex;
	gap: 15px;
	padding: 12px 16px;
	border-radius: 8px;
	align-items: center;
	transition: background .2s ease;
	&:hover{
		background-color: #252525;
	}
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item figure.item__image{
	position: relative;
    width: 100%;
    max-width: 60px;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item figure.item__image img{
	opacity: .5;
	width: 100%;
    height: 54px;
    object-fit: cover;
	border-radius: 12px;
    object-position: center;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a .item__count{
	background-color: #313131;
    position: absolute;
    padding: 5px 10px;
    left: 50%;
    top: 50%;
    font-size: 10px;
    font-weight: 800;
    border-radius: 5px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item:nth-child(1) a .item__count{
	background-color: #FFD700;
	color: #000;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item:nth-child(2) a .item__count{
	background-color: #C0C0C0;
	color: #000;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item:nth-child(3) a .item__count{
	background-color: #CD7F32;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a .item__info{
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a .item__info .item__name{
	font-size: 14px;
	font-weight: 600;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a .item__info .item__rate{
    display: flex;
    gap: 5px;
    padding: 4px 8px;
    align-items: center;
    border-radius: 6px;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a .item__info .item__rate i{
	font-size: 14px;
	color: #f9c81d;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item a .item__info .item__rate span.rate__count{
	font-size: 14px;
	font-weight: 600;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.buttons{
	background-color: transparent;
	display: grid;
	gap: 1rem;
	padding: 0;
	border-radius: 0;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.buttons a{
    background-color: #3f3f3f;
    padding: 16px 20px;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
#app main.main .main__wrap.main__home aside.main__sidebar .section.buttons a:first-of-type{
	background-color: theme('colors.vo-red');
}
#app main.main .main__shortcuts{
	background-color: #1c1c1c;
    position: absolute;
    top: 0;
    right: 1.5rem;
    width: 78px;
    height: 100%;
    padding: 20px 0;
    border-radius: 12px;
}
#app main.main .main__shortcuts .shortcuts__add{
	position: relative;
	text-align: center;
}
#app main.main .main__shortcuts .shortcuts__add > button{
	background-color: rgb(#fff, .05);
	display: inline-flex;
	width: 45px;
	height: 45px;
	padding: 10px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	transition: background .2s ease;
}
#app main.main .main__shortcuts .shortcuts__add > button:hover{
	background-color: rgb(#fff, .07);
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal{
    background-color: #373636;
    position: absolute;
    right: 100%;
	min-width: 320px;
    padding: 16px;
    top: 0;
	z-index: 10;
	opacity: 0;
	text-align: left;
    border-radius: 10px;
	visibility: hidden;
	transition: visibility .2s ease, opacity .1s ease, right .2s ease;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal.active{
	visibility: visible;
	opacity: 1;
	right: calc(100% + 20px);
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal h4{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal .shortcuts__head{
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	justify-content: space-between;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal .shortcuts__head .shortcuts__close button{
	display: block;
	padding: 4px;
    border-radius: 5px;
    border: 1px solid #4b4b4b;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal .shortcuts__head .shortcuts__close button svg{
	pointer-events: none;
    fill: #bfbfbf;
    width: 22px;
    height: 22px;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content{
	color: #000;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper .ts-control{
    background-color: #575757;
    position: relative;
    border-radius: 6px;
    display: flex;
    border: 0;
    color: #fff;
    min-height: 56px;
    overflow: initial;
    align-items: center;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper:not(.focus,.full) .ts-control > input{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .4px;
    padding-left: 8px !important;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper:not(.focus,.full) .ts-control > input::placeholder {
	color: #bdbdbd;
	opacity: 1;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper:not(.focus,.full) .ts-control > input:-ms-input-placeholder {
	color: #bdbdbd;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper:not(.focus,.full) .ts-control > input::-ms-input-placeholder{
	color: #bdbdbd;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper.focus .ts-control > input,
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper.full .ts-control > input{
    background-color: #fff !important;
    position: absolute;
    display: none !important;
    padding: 0 10px !important;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0 !important;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper.dropdown-active .ts-control{
	border-radius: 6px 6px 0 0;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper.dropdown-active .ts-control > input{
	display: block !important;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper .ts-control .item,
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper .ts-dropdown .ts-dropdown-content .option{
	display: grid;
	align-items: center;
    grid-template-columns: 50px auto;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper .ts-control .item img,
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper .ts-dropdown .ts-dropdown-content .option img{
	width: 40px;
	height: 40px;
	border-radius: 6px;
	object-fit: cover;
	object-position: center
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__content .ts-wrapper .ts-dropdown{
    top: calc(100% + 40px);
    margin-top: 0;
    border: 0;
    box-shadow: 0 0 0 0;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__footer{
	padding-top: 20px;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__footer button{
    background-color: #629751;
    padding: 6px 20px;
	font-size: 14px;
    display: block;
    border-radius: 5px;
	transition: background .2s ease;
}
#app main.main .main__shortcuts .shortcuts__add .shortcuts__footer button:hover{
	background-color: #6ca759;
}
#app main.main .main__shortcuts .shortcuts__list{
	display: grid;
	width: 100%;
	max-width: 45px;
	margin: auto;
	gap: 18px;
	padding: 18px 0;
}
#app main.main .main__shortcuts .shortcuts__list .shortcuts__item{

}
#app main.main .main__shortcuts .shortcuts__list .shortcuts__item a.shortcuts__link{
	display: block;
}
#app main.main .main__shortcuts .shortcuts__list .shortcuts__item a.shortcuts__link img{
	display: block;
	width: 45px;
	height: 45px;
	max-height: 45px;
	object-fit: cover;
	border-radius: 8px;
	object-position: center;
}

// :HOME SLIDER

#app main.main .section.home__slider{
	position: relative;
}
#app main.main .section.home__slider .slide__box{
    background-color: #1c1c1c;
    overflow: hidden;
    border-radius: 22px;
	max-height: 680px;
}
#app main.main .section.home__slider .slide__box .swiper .swiper-slide{
	opacity: 0;
}
#app main.main .section.home__slider .slide__box .swiper .swiper-slide.swiper-slide-active{
	opacity: 1;
}
#app main.main .section.home__slider .slide__image{
	background-size: cover;
	background-position: right;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
#app main.main .section.home__slider .slide__image.lazy {
	opacity: 0;
}
#app main.main .section.home__slider .slide__image:not(.initial) {
	transition: opacity 1s;
}
#app main.main .section.home__slider .slide__image.initial,
#app main.main .section.home__slider .slide__image.loaded,
#app main.main .section.home__slider .slide__image.error {
	opacity: 1;
}
#app main.main .section.home__slider .slide__image::before{
    background: linear-gradient(to right, rgb(0 0 0 / 90%) 40%, transparent 100%);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
}
#app main.main .section.home__slider .slide__content{
	min-height: 680px;
	padding: 50px;
}
#app main.main .section.home__slider .slide__content .content__box{
	background-color: #1c1c1c;
	position: relative;
	opacity: 0;
    padding: 3rem;
    max-width: 760px;
	visibility: hidden;
    border-radius: 22px;
	animation-name: outBoxSlide;
	animation-delay: .4s;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	transform: translateY(-15px);
}
#app main.main .section.home__slider .slide__logo{
	padding-bottom: 15px;
}
#app main.main .section.home__slider .slide__logo img{
	display: inline-block;
	max-width: 260px;
}
#app main.main .section.home__slider .slide__logo .slide__name{
	color: #fff;
	font-size: 24px;
	font-weight: 800;
}
#app main.main .section.home__slider .manga__rating{
	position: absolute;
	right: 2em;
	top: 2em;
	display: flex;
	gap: 10px;
	align-items: center;
	padding-bottom: 25px;
	.rating__group {
		display: inline-flex;
	}
	.rating__count{
		display: flex;
		gap: 5px;
		font-size: 16px;
		color: #8f8f8f;
		font-weight: 500;
		align-items: center;
		letter-spacing: 0.2px;
		.count__users{
			font-size: 14px;
			opacity: .5;
		}
	}
	.rating__icon {
		pointer-events: none;
	}
	.rating__input {
		display: none;
	}
	.rating__label {
		cursor: default;
		padding: 0 0.1em;
		font-size: 18px;
	}
	.rating__icon--star {
		color: #f9c81d;
	}
	.rating__input:checked ~ .rating__label .rating__icon--star {
		color: #434343;
	}
}
#app main.main .section.home__slider .slide__description{
	max-width: 700px;
	padding-bottom: 40px;
}
#app main.main .section.home__slider .slide__description p{
	font-size: 14px;
	opacity: .7;
    font-weight: 300;
    letter-spacing: .5px;
}
#app main.main .section.home__slider .slide__buttons a{
	background-color: theme('colors.vo-red');
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 35px;
    font-weight: 600;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
	transition: background .2s ease, color .2s ease;
}
#app main.main .section.home__slider .slide__buttons a:hover{
	background-color: theme('colors.vo-red-over');
}
#app main.main .section.home__slider .swiper-slide.swiper-slide-active .slide__content .content__box{
	animation-name: inBoxSlide;
}
@keyframes inBoxSlide{
	from{
		opacity: 0;
		visibility: hidden;
		transform: translateY(-15px);
	}
	to{
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
}
@keyframes outBoxSlide{
	from{
		opacity: 1;
		visibility: visible;
	}
	to{
		opacity: 0;
		visibility: hidden;
	}
}
#app main.main .section.home__slider .swiper-button-prev,
#app main.main .section.home__slider .swiper-button-next{
	background-color: #1c1c1c;
    position: absolute;
    top: initial;
    bottom: 20px;
	width: 48px;
	height: 48px;
    left: initial;
    right: 20px;
    margin: 0;
	color: #fff;
	font-size: 16px;
	transform: none;
	border-radius: 35px;
	transition: background .2s ease;
	&:hover{
		background-color: #262626;
	}
}
#app main.main .section.home__slider .swiper-button-prev::after,
#app main.main .section.home__slider .swiper-button-next::after{
	display: none;
}
#app main.main .section.home__slider .swiper-button-prev{
	right: 80px;
}
#app main.main .section.home__slider .swiper-pagination{
	bottom: 20px;
}
#app main.main .section.home__slider .swiper-pagination .swiper-pagination-bullet{
	background-color: #fff;
	opacity: .6;
	width: 14px;
	height: 14px;
	border-radius: 35px;
	transition: width .4s ease;
}
#app main.main .section.home__slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	opacity: 1;
	width: 28px;
}

// :HOME POPULAR

#app main.main .section.home__popular .section__content{
	position: relative;
}
#app main.main .section.home__popular .manga .manga__list{
	display: flex;
	gap: 0;
}
#app main.main .section.home__popular .manga .slide__arrows{
    position: absolute;
	display: flex;
    bottom: calc(100% + 26px);
    right: 0;
	gap: 20px;
}
#app main.main .section.home__popular .manga .slide__arrows button.slide__arrow{
    display: flex;
    opacity: 0.2;
    width: 40px;
    height: 40px;
    outline: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 35px;
	transition: opacity .2s ease;
}
#app main.main .section.home__popular .manga .slide__arrows button.slide__arrow svg{
	fill: #fff;
	width: 16px;
}
#app main.main .section.home__popular .manga .slide__arrows button.slide__arrow.slide__arrow--prev svg{
	transform: rotate(180deg);
}
#app main.main .section.home__popular .manga .slide__arrows button.slide__arrow:hover{
	opacity: .7;
}

// :MOST VIEWED
#app main.main .section.home__slider + .section{
	padding-top: 40px;
}
#app main.main .section.updates{
	padding-bottom: 40px;
}
#app main.main .section.updates .manga__viewmore{
	padding-top: 2rem;
	text-align: center;
}
#app main.main .section.updates .manga__viewmore a{
	background-color: #9b2e2e;
    padding: 12px 20px;
    display: inline-flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
#app main.main .main__wrap.updates .vealo {
    text-align: center;
    padding-bottom: 2rem
}
// :SECTION CATEGORIES
#app main.main .home__categories{
	display: grid;
	gap: 40px;
}
#app main.main .section.section__cat{
    background-color: #1c1c1c;
	padding: 30px 40px;
    border-radius: 22px;
}
#app main.main .section.section__cat .manga .manga__list .manga__item{
	z-index: 1;
}
#app main.main .section.section__cat .manga .manga__list .manga__item::before{
	background-color: #272727;
}

// :MANGA STYLES

#app main.main .manga .manga__list{
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(8, 1fr);
}
#app main.main .manga .manga__list .manga__item{
	position: relative;
}
#app main.main .manga .manga__list .manga__item .manga__cover{
	position: relative;
}
#app main.main .manga .manga__list .manga__item .manga__cover::before{
    background-color: #1c1c1c;
    position: absolute;
    opacity: 0;
    content: "";
    top: -15px;
    left: -10px;
    z-index: -1;
    border-radius: 18px;
    width: calc(100% + 20px);
    height: calc(100% + 30px);
    transition: opacity 0.2s ease;
}
#app main.main .manga .manga__list .manga__item:hover .manga__cover::before,
#app main.main .manga .manga__list .manga__item .manga__cover:hover::before{
	opacity: 1;
}
#app main.main .manga .manga__list .manga__item .manga__link{
	display: block;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image{
	overflow: hidden;
	border-radius: 18px;
	aspect-ratio: 2 / 2.82;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img{
	width: 100%;
	display: block;
	aspect-ratio: 2 / 2.82;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img.lazy {
	opacity: 0;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img:not(.initial) {
	transition: opacity 1s;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img.initial,
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img.loaded,
#app main.main .manga .manga__list .manga__item .manga__cover .manga__image img.error {
	opacity: 1;
}
.view__reader .view__content .reader__item img:not([src]) {
	visibility: hidden;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms,
#app main.main .manga__detail .manga__cover .manga__terms{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	padding: 0 5px;
	padding-bottom: 10px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__type,
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography,
#app main.main .manga__detail .manga__cover .manga__terms .manga__type,
#app main.main .manga__detail .manga__cover .manga__terms .manga__demography{
	width: 50%;
	padding: 0 5px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography:last-of-type,
#app main.main .manga__detail .manga__cover .manga__terms .manga__demography:last-of-type{
	width: 100%;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography + .manga__type,
#app main.main .manga__detail .manga__cover .manga__terms .manga__demography + .manga__type{
	width: 50%;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms a,
#app main.main .manga__detail .manga__cover .manga__terms a{
	padding: 10px 10px;
	width: 100%;
	display: block;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__type a,
#app main.main .manga__detail .manga__cover .manga__terms .manga__type a{
	background-color: #272727;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography a,
#app main.main .manga__detail .manga__cover .manga__terms .manga__demography a{
	background-color: #F9C81D;
	color: #000;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography,
#app main.main .manga__detail .manga__cover .manga__terms .manga__demography{
	&.seinen a{
		background-color: #A52422;
		color: #fff;
	}
	
	&.josei a{
		background-color: #952b95;
		color: #fff;
	}
	
	&.kodomo a{
		background-color: #1ebb7f;
		color: #000;
	}
	
	&.shounen a{
		background-color: #f9c91f;
	}
	
	&.shojo a{
		background-color: #bd5f6f;
		color: #fff;
	}
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__ratings{
    background-color: #000;
    position: absolute;
    display: flex;
    gap: 4px;
    top: 10px;
    right: 10px;
    padding: 10px 12px;
    border-radius: 10px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__ratings i{
	color: #F0BF12;
	font-size: 14px;
}
#app main.main .manga .manga__list .manga__item .manga__cover .manga__ratings .rating__avg{
    font-size: 12px;
    font-weight: 900;
    line-height: 1;
    align-self: end;
}
#app main.main .manga .manga__list .manga__item h4.manga__title{
	color: #fff;
	margin: 0;
	font-weight: 500;
	margin-top: 12px;
}
#app main.main .manga .manga__list .manga__item .manga__chapters{
	display: grid;
	gap: 10px;
	padding-top: 1rem;
	grid-template-columns: 100%;
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item{

}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a{
	background-color: transparent;
	position: relative;
    display: flex;
    padding: 5px 10px;
    border-radius: 35px;
    align-items: center;
	flex-direction: column;
    border: 1px solid #393939;
    justify-content: space-between;
	transition: color .2s ease, border .2s ease;
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a span.chapter__name{
	font-size: 12px;
	font-weight: 500;
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a .chapter__float{
    position: absolute;
    right: 15px;
	top: calc(50% + 2px);
	transform: translateY(-50%);
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a .chapter__float button svg{
	pointer-events: none;
	width: 16px;
	height: 16px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a .chapter__float button:hover svg {
    opacity: 1;
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a span.chapter__date{
	font-size: 10px;
	opacity: .5;
}
#app main.main .manga .manga__list .manga__item .manga__chapters .chapter__item a:hover{
	border-color: theme('colors.vo-red');
}
// :NEW CHAPTERS

#app main.main .main__wrap.main__home aside.main__sidebar .section.new_manga .section__content,
#app main.main .main__wrap.main__home aside.main__sidebar .section.new_novels .section__content{
    max-height: 720px;
    overflow: hidden;
    padding: 20px 0;
}
#app main.main .new__chapters{
	max-height: 620px;
}
#app main.main .new__chapters .simplebar-content{
	display: flex;
	flex-direction: column;
}
#app main.main .new__chapters .new__chapters__item{
	position: relative;
	padding: 0 1rem;
}
#app main.main .new__chapters .new__chapters__item:last-of-type{
	margin-bottom: 0;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link{
	position: relative;
	display: flex;
	gap: 18px;
	z-index: 1;
	padding: 14px;
	border-radius: 12px;
	align-items: flex-start;
	transition: background .2s ease;
	&:hover{
		background-color: #252525;
	}
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link figure.new__chapters__image{
    width: 100%;
    max-width: 80px;
    overflow: hidden;
    border-radius: 12px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link figure.new__chapters__image img{
	width: 100%;
	height: 68px;
	object-fit: cover;
	object-position: center;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content{
	width: 100%;
	max-width: 205px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content h6{
	font-size: 14px;
	margin: 0;
	font-weight: bold;
	margin-bottom: 6px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__chapter,
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__date{
	display: block;
	color: #949494;
	font-size: 12px;
	font-weight: 500;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__chapter{
	margin-bottom: 6px;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__content span.new__chapters__date{
	color: #fff;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__icon{
	display: flex;
	height: 100%;
	min-height: 69px;
	align-items: center;
}
#app main.main .new__chapters .new__chapters__item a.new__chapters__link .new__chapters__icon i{
	color: #949494;
	transition: color .2s ease;
}
#app main.main .new__chapters .new__chapters__item:hover a.new__chapters__link .new__chapters__icon i{
	color: theme('colors.vo-red');
}
#app main.main .page__title{
    display: flex;
    gap: 15px;
    align-items: center;
}
#app main.main .page__title h2{
    font-size: 18px;
    font-weight: 700;
}
#app main.main .page__title a.view__back{
    background-color: #9b2e2e;
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1920px){
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(6, 1fr);
	}
}
@media (max-width: 1620px){
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(5, 1fr);
	}
	#app main.main .main__wrap.main__home{
		grid-template-columns: calc(100% - 340px) 340px;
	}
}

// :DESKTOP (1440)
@media (max-width: 1440px){
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(4, 1fr);
	}
	#app main.main .section.home__slider .slide__content{
		padding: 30px;
	}
}

// :DESKTOP (1366)

@media (max-width: 1366px){
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(4, 1fr);
	}
	#app main.main .new__chapters .new__chapters__item a.new__chapters__link figure.new__chapters__image,
	#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item figure.item__image{
		max-width: 50px;
		border-radius: 8px;
	}
	#app main.main .new__chapters .new__chapters__item a.new__chapters__link figure.new__chapters__image img,
	#app main.main .main__wrap.main__home aside.main__sidebar .section.tops ul.tops__list li.list__item figure.item__image img{
		height: 50px;
	}
	#app main.main .section.home__slider .slide__logo .slide__name{
		font-size: 20px;
	}
	#app main.main .section.home__slider .slide__buttons a{
		font-size: 12px;
	}
}

// :MOVIL - TABLET

@media (max-width: 1024px){
	.log__alert{
		padding: 0;
	}
	.log__alert .box{
		font-size: 16px;
	}
	#app main.main{
		display: flex;
		gap: 1.5rem;
		padding: 0 1rem;
		flex-direction: column;
	}
	#app main.main .main__wrap.main__home,
	#app main.main .manga__detail{
		padding: 0;
	}
	#app main.main .main__wrap.main__home{
		grid-template-columns: 100%;
	}
	#app main.main .main__wrap.main__home .main__content{
		padding-right: 0;
	}
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(4, 1fr);
	}
	#app main.main .main__wrap{
		padding: 0;
	}
	#app main.main .section.section__cat{
		padding: 25px;
	}
	#app main.main .home__categories{
		gap: 1rem;
	}
	#app main.main .main__shortcuts{
		position: relative;
		padding: 1.5rem;
		display: grid;
		gap: 15px;
		order: -1;
		right: 0;
		width: 100%;
		grid-template-columns: 45px calc(100% - 45px);
	}
	#app main.main .main__shortcuts .shortcuts__list{
		max-width: 100%;
		display: flex;
		padding: 0;
		flex-wrap: wrap;
	}
	#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal{
		position: fixed;
		top: .8rem;
		left: 50%;
		right: initial;
		width: calc(100% - 1.5rem);
		height: auto;
		transform: translateX(-50%);
		transition: visibility .4s ease, opacity .4s ease, top .4s ease;
	}
	#app main.main .main__shortcuts .shortcuts__add .shortcuts__modal.active{
		right: initial;
	}
	#app main.main .main__wrap.main__home{
		display: flex;
		flex-direction: column;
	}
	#app main.main .main__wrap.main__home aside.main__sidebar{
		order: -1;
		min-height: auto;
		margin-bottom: 1.5rem;
		grid-template-columns: 100%;
	}
	#app main.main .main__wrap.main__home aside.main__sidebar .section.tops{
		position: relative;
	}
	#app main.main .section.home__slider .slide__content{
		padding: 20px;
	}
	#app main.main .section.home__slider .slide__content .content__box{
		padding-left: 30px;
		padding-top: 80px;
		padding-right: 30px;
		padding-bottom: 30px;
	}
	#app main.main .section.home__slider .slide__image{
		background-position: center;
	}
}
@media (max-width: 768px){
	.modal{
		top: 25px;
		max-width: calc(100% - 50px);
	}
	.chapter__buy .buy__box h2{
		font-size: 20px;
	}
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(3, 1fr);
	}
	#app main.main .manga .manga__list .manga__item h4.manga__title{
		font-size: 14px;
	}
	#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms a, #app main.main .manga__detail .manga__contain .manga__cover .manga__terms a{
		font-size: 10px;
		padding: 8px;
		border-radius: 6px;
	}
	#app main.main section.section .section__title h2{
		font-size: 16px;
	}
	#app main.main section.section .section__title h2 span{
		font-size: 10px;
	}
	#app main.main .section.section__cat{
		padding: 20px;
		border-radius: 12px;
	}
}
@media (max-width: 620px){
	#app main.main .manga .manga__list{
		grid-template-columns: repeat(2, 1fr);
	}
	#app main.main .main__shortcuts{
		gap: 12px;
	}
	#app main.main .main__shortcuts .shortcuts__list{
		gap: 12px;
	}
	#app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__type, #app main.main .manga .manga__list .manga__item .manga__cover .manga__terms .manga__demography, #app main.main .manga__detail .manga__contain .manga__cover .manga__terms .manga__type, #app main.main .manga__detail .manga__contain .manga__cover .manga__terms .manga__demography{
		padding: 0 3px;
	}
}
@media (max-width: 520px){
	#app main.main .main__shortcuts{
		display: grid;
		padding: 1rem;
		gap: 15px;
		grid-template-columns: 100%;
	}
	#app main.main .main__shortcuts .shortcuts__add > button{
		width: 100%;
	}
	#app main.main .main__shortcuts .shortcuts__list{
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(8, 1fr);
	}
}
@media (max-width: 480px){
	#app main.main .main__shortcuts .shortcuts__list{
		grid-template-columns: repeat(7, 1fr);
	}
}
@media (max-width: 420px){
	#app main.main .main__shortcuts .shortcuts__list{
		grid-template-columns: repeat(6, 1fr);
	}
}
@media (max-width: 380px){
	#app main.main .main__shortcuts .shortcuts__list{
		gap: 15px;
		grid-template-columns: repeat(5, 1fr);
	}
}