@use './tailwind.scss';
@use '../fonts/inter/inter.scss';
@use './components/header.scss';
@use './components/footer.scss';

body{
    background-color: theme('colors.vo-black');
    font-family: "Inter", sans-serif;
    &.noscroll{
        overflow: hidden;
    }
}