header.header{
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    grid-template-columns: 100%;
}
header.header nav.navbar{
    background-color: #1c1c1c;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    min-height: 80px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px auto;
}
header.header nav.navbar .movil{
    display: none;
    align-items: center;
}
header.header > .buttons{
    display: none;
}
header.header nav.navbar .burger{
    cursor: pointer;
}
header.header nav.navbar .burger span{
    background-color: #b9b9b9;
    display: block;
    width: 28px;
    height: 3px;
    margin: 4px 0;
    border-radius: 10px;
    transition: transform .2s ease, opacity .2s ease;
}
header.header nav.navbar .burger.active span{
    color: #fff;
}
header.header nav.navbar .burger.active span:nth-child(1){
    transform: translate(0px, 8px) rotate(45deg);
}
header.header nav.navbar .burger.active span:nth-child(2){
    opacity: 0;
    transform: scale(0);
}
header.header nav.navbar .burger.active span:nth-child(3){
    transform: translate(0px, -6px) rotate(-45deg);
}
header.header nav.navbar .lft{
    display: flex;
    gap: 1rem;
    align-items: center;
}
header.header nav.navbar .rth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.header nav.navbar .logo{
    position: relative;
    padding-right: 1.5rem;
    img{
        display: block;
        width: 62px;
        height: 53px;
    }
    &::after{
        background-color: rgb(#fff, .2);
        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        width: 1px;
        height: 15px;
        transform: translateY(-50%);
    }
}
header.header .search__bar{
    position: relative;
    form{
        transition: top .4s ease, width .4s ease, visibility .4s ease, opacity .4s ease;
        input{
            background-color: rgb(#fff, .1);
            width: 100%;
            color: #fff;
            border-radius: 10px;
            padding: 16px 20px;
            letter-spacing: .02rem;
            &::-webkit-input-placeholder { /* Edge */
                color: #afafaf;
                letter-spacing: .02rem;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #afafaf;
                letter-spacing: .02rem;
            }
            
            &::placeholder {
                color: #afafaf;
                letter-spacing: .02rem;
            }
        }
        button{
            position: absolute;
            cursor: pointer;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            svg{
                width: 20px;
            }
        }
    }
}
header.header nav.navbar .menu{
    ul{
        li{
            a{
                position: relative;
                color: rgb(#fff, .6);
                transition: color .2s ease;
                &::after{
                    background-color: #fff;
                    position: absolute;
                    content: "";
                    left: 50%;
                    bottom: -10px;
                    width: 15px;
                    height: 4px;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 35px;
                    transform: translateX(-50%);
                    transition: opacity .2s ease, visibility .2s ease;
                }
            }
            a .item__icon{
                display: none;
            }
            a .item__text{
                display: block;
            }
            a .item__badge{
                background-color: #9b2e2e;
                position: absolute;
                right: -8px;
                top: -16px;
                padding: 2px 4px;
                font-size: 10px;
                color: #fff;
                border-radius: 5px;
            }
            &.active, &:hover{
                a{
                    color: #fff;
                }
            }
            &.active{
                a{
                    &::after{
                        background-color: theme('colors.vo-red');
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
header.header nav.navbar .buttons{
    a.botn{
        font-weight: 600;
        display: block;
    }
}
header.header nav.navbar .panel{
    display: flex;
    gap: 15px;
    align-items: center;
    .user{
        .name{
            display: grid;
            gap: 4px;
            padding-right: 1.5rem;
            grid-template-columns: 100%;
            h4{
                color: #fff;
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1;
            }
        }
        .avatar{
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 35px;
            }
        }
    }
    .logout{
        button{
            display: block;
            opacity: .3;
            padding: 8px;
            border-radius: 35px;
            transition: background .2s ease, opacity .2s ease;
            svg{
                path{
                    stroke: #ddd;
                }
            }
            &:hover{
                background-color: theme('colors.vo-red');
                opacity: 1;
            }
        }
    }
}
header.header nav.navbar .panel .coins{
    display: flex;
    gap: 4px;
    align-items: center;
}
header.header nav.navbar .panel .coins .coins__icon svg{
    width: 12px;
}
header.header nav.navbar .panel .coins .coins__amount{
    opacity: .6;
    font-size: 12px;
    font-weight: 600;
}
@media (max-width: 1024px){
    header.header{
        gap: 1rem;
        padding: 1rem;
    }
    header.header nav.navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header.header nav.navbar .logo img{
        width: 52px;
        height: 44px;
    }
    header.header nav.navbar .menu ul{
        padding: 1rem;
        gap: .8rem;
    }
    header.header nav.navbar .menu ul li a{
        background-color: #2f2f2f;
        display: flex;
        gap: 10px;
        font-size: 16px;
        border-radius: 6px;
        padding: 12px 14px;
        align-items: center;
    }
    header.header nav.navbar .menu ul li a::after{
        top: 50%;
        left: initial;
        right: 1rem;
        transform: translateY(-50%);
    }
    header.header nav.navbar .menu ul li a .item__icon{
        display: block;
        width: 24px;
        text-align: center;
    }
    header.header nav.navbar .panel .user .name span{
        font-size: 14px;
    }
    header.header nav.navbar .panel .user .name h4{
        font-size: 16px;
    }
    header.header nav.navbar .buttons a.botn{
        display: block;
        font-size: 14px;
        border-radius: 7px;
        padding: 12px 18px;
    }
    header.header nav.navbar > .movil,
    header.header nav.navbar > .lft,
    header.header nav.navbar > .rth{
        width: 33.33%;
    }
    header.header nav.navbar > .lft{
        justify-content: center;
    }
    header.header nav.navbar > .rth{
        justify-content: flex-end;
    }
    header.header nav.navbar .logo{
        padding: 0;
    }
    header.header nav.navbar .logo::after{
        display: none;
    }
    header.header nav.navbar .movil{
        display: flex;
    }
    header.header nav.navbar .burger{
        display: inline-block;
    }
    .mnu__overlay{
        background-color: #0000009e;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }
    header.header nav.navbar .menu{
        background-color: #232323;
        position: fixed;
        width: 320px;
        top: 0;
        left: -320px;
        height: 100%;
        z-index: 10;
        transition: left .4s ease;
    }
    header.header nav.navbar .menu.open{
        left: 0;
    }
    header.header nav.navbar .menu ul{
        flex-direction: column;
    }
    header.header nav.navbar .menu ul li a .item__badge{
        right: 12px;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
    }
}
@media (max-width: 870px){
    header.header nav.navbar > .movil, header.header nav.navbar > .rth{
        width: 40%;
    }
    header.header nav.navbar > .lft{
        width: 20%;
    }
}
@media (max-width: 768px){
    header.header nav.navbar .panel{
        gap: 10px;
    }
    header.header nav.navbar .panel .user .name{
        display: none;
    }
    header.header nav.navbar .panel .user .avatar img{
        width: 34px;
        height: 34px;
    }
    header.header nav.navbar .panel .logout button{
        padding: 6px;
    }
    header.header nav.navbar .panel .logout button svg{
        width: 20px;
        height: auto;
    }header.header nav.navbar .buttons{
        display: none;
    }
    header.header > .buttons{
        display: flex;
    }
    header.header > .buttons a{
        width: 50%;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 620px){
    header.header nav.navbar .menu ul li a{
        font-size: 16px;
    }
}
@media (max-width: 520px){
    header.header nav.navbar .logo{
        padding-right: 1rem;
    }
    header.header nav.navbar .menu ul{
        gap: 15px;
    }
}
@media (max-width: 480px){
    header.header nav.navbar > .movil,
    header.header nav.navbar > .lft,
    header.header nav.navbar > .rth{
        width: 33.33%;
    }
}