.products .own-dropzone .dz-choose{
	max-width: 100%;
	min-height: 280px;
}
.products .own-dropzone.favicon .dz-choose{
    max-width: 40px;
    min-height: 40px;
	border-radius: .4rem;
	margin-right: 0;
}
.products .own-dropzone .dz-choose p.dz-text{
	margin: 0;
}
.products .own-dropzone .dz-choose .dz-preview img{
	object-fit: contain;
}